@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr--primary-marine_blue: hsl(213, 96%, 18%);
  --clr--primary-purplish_blue: hsl(243, 100%, 62%);
  --clr--primary-pastel_blue: hsl(228, 100%, 84%);
  --clr--primary-light_blue: hsl(206, 94%, 87%);
  --clr--primary-strawberry_red: hsl(354, 84%, 57%);

  --clr-neutral--cool-gray: hsl(231, 11%, 63%);
  --clr-neutral--light-gray: hsl(229, 24%, 87%);
  --clr-neutral--magnolia: hsl(216, 43%, 93%);
  --clr-neutral--alabaster: hsla(228, 100%, 99%, 0.834);
  --clr-neutral--white: hsl(0, 0%, 100%);
  --shadow-light: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--clr-neutral--alabaster);
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.hidden {
  display: none !important;
}
.z-10 {
  z-index: 10;
}

.text-white {
  color: var(--clr-neutral--white);
}

.text-gray {
  color: var(--clr-neutral--cool-gray);
}

.text-sm {
  font-size: 0.8rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 1.6rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.btn {
  background-color: var(--clr--primary-marine_blue);
  color: white;
  cursor: pointer;
  width: max-content;
  padding: 0.7rem 0.8rem;
  border: none;
  border-radius: 5px;
}

.btn:focus,
.btn:hover {
  outline: none;
}
/* .btn-next { */
/* } */
.btn-go-back {
  font-weight: 700;

  color: var(--clr--primary-marine_blue);
  background: none;
}
.btn-submit {
  background-color: var(--clr--primary-purplish_blue);
}
.toggle-button {
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 1.3rem;
  border-radius: 1vmax;
  appearance: none;
  background-color: var(--clr--primary-marine_blue);
}
.lower-buttons {
  display: flex;
  width: 100%;
  padding-left: 6rem;
  padding-bottom: 2rem;
  justify-content: space-between;
}
.toggle-button:before {
  content: "";
  cursor: pointer;
  position: absolute;
  background-color: white;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  --val: 0.8rem;
  height: var(--val);
  width: var(--val);
  transition: all 0.2s ease-in-out;
}

.toggle-button:checked::before {
  translate: 20px;
}

.multistep-form-container {
  background-color: var(--clr-neutral--white);
  box-shadow: var(--shadow-light);
  border-radius: 10px;
  display: flex;
  width: 1000px;
  overflow: hidden;
}
.sidebar {
  padding: 1rem;
}
.steps-counter {
  position: relative;
}

.gap-2 {
  gap: 1.6rem;
}
.steps-counter-steps {
  position: absolute;
  z-index: 10;
  top: 3rem;
  left: 3rem;
}
.steps-counter-step {
  margin-bottom: 2rem;
}

.circle {
  border-radius: 50%;
  border: 1px solid var(--clr-neutral--white);
  color: var(--clr-neutral--white);
  font-weight: 700;
  text-align: center;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 26px;
  transition: background-color 0.5s ease-in-out, color 0.6s ease;
}
.current {
  background-color: var(--clr--primary-light_blue);

  line-height: 30px;
  color: black;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.error {
  border-color: var(--clr--primary-strawberry_red) !important;
  animation: shake 1s ease;
}
.error::placeholder {
  color: hsl(354, 84%, 57%);
}

.steps-counter-step {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.form {
  flex: 1;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container label {
  font-size: 0.8rem;
  font-weight: 500;
}
.form-input-container input[type="text"],
.form-input-container input[type="email"] {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.7rem 0.6rem;
  border-radius: 10px;
  border: 1px solid var(--clr-neutral--cool-gray);
}

.right-step {
  padding: 5rem 6rem;
  flex: 1;
}
.mr-6 {
  margin-right: 6rem;
}

.plans {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.plan * {
  user-select: none;
}
.plan *:not(div) {
  pointer-events: none;
}
.plan {
  flex: 1;
  border: 1px solid var(--clr-neutral--light-gray);
  border-radius: 7px;
  min-width: 1rem;
  padding: 1rem 4rem 1rem 1rem;
  transition: all 0.2s ease;
}
.plan:hover {
  border-color: var(--clr--primary-purplish_blue);
}
.plan.active {
  border-color: var(--clr--primary-purplish_blue);
  scale: 1.02;
  background-color: var(--clr-neutral--magnolia);
}
.plan > img {
  margin-bottom: 2rem;
}

.m-y {
  margin-top: 2rem;
  background-color: var(--clr-neutral--alabaster);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.7rem;
}

.addons {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.addon {
  display: flex;
  border: 1px solid var(--clr-neutral--light-gray);
  border-radius: 7px;
  padding: 0.8rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  transition: border 0.2s ease;
}
.addon p {
  font-size: 0.7rem;
}
.addon:hover {
  border-color: var(--clr--primary-purplish_blue);
}
.addon.active {
  border-color: var(--clr--primary-purplish_blue);
  background-color: var(--clr-neutral--magnolia);
}

.addon__left {
  display: flex;
  gap: 1.7rem;
}
.addon__right p {
  color: var(--clr--primary-purplish_blue);
}

.final-bill-statement {
  background-color: var(--clr-neutral--alabaster);
  border-radius: 7px;
  padding: 1rem 2rem;
}
.bill__plan-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.bill__plan-type a {
  font-size: 0.8rem;
}
.hr {
  border-top: 1px solid var(--clr-neutral--light-gray);
}
.bill__addons {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  gap: 0.7rem;
}
.bill__addons p {
  font-size: 0.7rem;
}

.bill__addons span {
  font-weight: 700;
  font-size: 0.7rem;
}

.bill__addons div {
  display: flex;
  justify-content: space-between;
}

.total-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.total-pricing h3 {
  color: var(--clr--primary-purplish_blue);
}

.right-step {
  width: 100%;
}

.total-animation {
  animation: billed 2s ease;
}

.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.thank-you .final-thoughts {
  max-width: 43ch;
}
.thank-you img {
  display: block;
}

@keyframes billed {
  0% {
    opacity: 0.5;
    scale: 12;
    rotate: 40deg;
  }
  70% {
    opacity: 1;
    rotate: 0deg;
    scale: 1;
  }
  80% {
    rotate: -40deg;
  }
  90% {
    rotate: 40deg;
  }
  100% {
    rotate: 0deg;
  }
}

@media (min-width: 960px) {
  .steps-counter-mob {
    display: none;
  }
}

@media (max-width: 960px) {
  .multistep-form-container {
    flex-direction: column;
    z-index: 100;
    height: 70vh;
    margin: 3rem 2rem;
  }
  .steps-counter {
    display: none;
  }
  .steps-counter-mob {
    background-image: url("/assets/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 13rem;
    display: inline;
    position: absolute;
    top: 0;
    min-width: 100vw;
    z-index: 1;
  }

  .step-counter-mob img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .steps-counter-steps {
    display: flex;
    left: 50%;
    translate: -50%;
    gap: 2rem;
  }
  .right-step {
    padding: 1rem 1rem;
  }
  .plans {
    flex-direction: column;
    justify-content: center;
  }
  .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .plan img {
    display: block;
    margin: 0;
  }
  .thank-you {
    padding: 2rem 1rem;
  }
  .thank-you img {
    width: 3rem;
    object-fit: contain;
    display: block;
  }
  .lower-buttons {
    background-color: var(--clr-neutral--white);
    box-shadow: -3px 0px 5px rgba(0 0 0 / 0.1);
    position: absolute;
    margin: 0;
    display: flex;
    padding: 1rem 2rem;
    left: 0;
    justify-content: space-between;
    bottom: 0;
  }
  .lower-buttons .btn-next {
    margin: 0;
  }
}
.fade-in {
  animation: fade-in 2s ease;
  animation-delay: attr(data-delay);
}
@keyframes fade-in {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes shake {
  0% {
    rotate: -0.7deg;
  }
  20% {
    rotate: 0deg;
  }

  50% {
    rotate: 0.7deg;
  }
  60% {
    rotate: 0deg;
  }
  80% {
    rotate: -0.7deg;
  }
  100% {
    rotate: 0deg;
  }
}
